<section class="add-members">
  <!-- HEADING -->
  <header class="row sub">
    <div class="small-12 columns">
      <h2 class="subheader">Add Members</h2>
    </div>
  </header>
  <!-- FORM -->
</section>
<!-- IMPORT TABS -->
<div class="row field import">
  <div class="small-12 columns">
    <!-- TABS -->
    <dl class="tabs" data-tab>
      <dd id="file-tab">
        <a href="#" {{action 'setTabFile'}}>Import from File</a>
      </dd>
      <dd id="refset-tab">
        <a href="#" {{action 'setTabRefset'}}>Import from Refset</a>
      </dd>
      <dd id="search-tab" class="active">
        <a href="#"{{action 'setTabSearch'}}>Search Snomed</a>
      </dd>
    </dl>
  </div>
</div>
{{#if showFileTab}}
  {{view 'importByFile'}}
{{/if}}
{{#if showRefsetTab}}
  {{view 'importByRefset'}}
{{/if}}
{{#if showSearchTab}}
  {{view 'importBySearch'}}
{{/if}}