<ol class="breadcrumb">
  <li>{{#link-to 'refsets'}}Refsets{{/link-to}}</li>
  <li>{{#link-to 'refset.concepts'}}{{refset.title}}{{/link-to}}</li>
  <li>{{#link-to 'snapshots'}}Snapshots{{/link-to}}</li>
  <li class="active">{{title}}</li>
</ol>
<section id="snapshot">
  <h2>Snapshot {{publicId}}
  {{#link-to 'snapshots'}}<button disabled="disabled" class="first toggle btn btn-lg btn-info">Snapshots</button>{{/link-to}}  
  {{#link-to 'plan.show' refset}}<button class="toggle btn btn-lg btn-info">Plan</button>{{/link-to}}
  {{#link-to 'refset.concepts' refset}}<button class="last toggle btn btn-lg btn-info">Concepts</button>{{/link-to}}
  </h2>
  {{#link-to 'snapshots'}}<button type="button" class="btn btn-default btn-large close-snapshot">Return</button>{{/link-to}}
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>id</th>
    <thead>
    <tbody>
      {{#each concept in conceptDtos}}
      <tr>
        <td>{{concept.title}}</td>
        <td>{{concept.id}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>