{{#modal-box action="selected" modalid=importModalid}}
  <form class="form-group import-snapshot" {{action 'import' on="submit"}}  id="form-id" enctype="multipart/form-data">  
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Import version</h4>
    </div>
    <div class="modal-body">

      <div {{bind-attr class=":form-group error.fieldErrors.file:has-error :file"}}>
        <label>File</label>
        <input type="file" id="file-id" name="our-file">
        {{#each e in error.fieldErrors.file }}
          <span class="help-block">{{e}}</span>
        {{/each}}
      </div>

      <div {{bind-attr class=":form-group error.fieldErrors.fileType:has-error :type"}}>
        <label>File Type</label>
        <div>
          {{view Ember.Select viewName="select"
                      contentBinding="fileTypes"
                      optionLabelPath="content.label"
                      optionValuePath="content.id"
                      value=snapshot.fileType
                      }}
        </div>
        {{#each e in error.fieldErrors.fileType }}
          <span class="help-block">{{e}}</span>
        {{/each}}
      </div>

      {{view "editSnapshot"}}

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-sm">Import</button>
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
    </div>  

  </form>
{{/modal-box}}