{{#modal-box modalid="snapshot"}}
  <form class="form-group" {{action 'snapit' on="submit"}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Create a new publication</h4>
    </div>
    <div class="modal-body">
      <section class="inputs">
        <div {{bind-attr class=":form-group error.fieldErrors.title:has-error"}}>
          <label>Title</label>
          {{input type="text" name="title" class="form-control" value=snapshot.title placeholder="Enter Title"}}
           {{#each e in error.fieldErrors.title }}
            <span class="help-block">{{e}}</span>
          {{/each}}
        </div>
        <div {{bind-attr class=":form-group error.fieldErrors.description:has-error"}}>
          <label>Description</label>
          {{input type="text" name="description" class="form-control" value=snapshot.description placeholder="Enter Description"}}
          {{#each e in error.fieldErrors.description }}
            <span class="help-block">{{e}}</span>
          {{/each}}
        </div>
        <div {{bind-attr class=":form-group error.fieldErrors.publicId:has-error"}}>
          <label>Public ID</label>
          {{input type="text" name="publicId" class="form-control" value=snapshot.publicId placeholder="Enter Public ID"}}
          {{#each e in error.fieldErrors.publicId }}
            <span class="help-block">{{e}}</span>
          {{/each}}
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div> 
    </div>  
  </form>
{{/modal-box}}

<section class="rules">
  <div class="rules-list">
    <h4>Concepts
      <div class="plan-actions clearfix">
        {{#link-to 'plan.concepts'}}<button class="first toggle btn edit-plan btn-sm btn-default"  disabled="disabled">Results</button>{{/link-to}}
        {{#link-to 'plan.edit'}}<button class="btn toggle edit-plan btn-sm btn-default">Edit</button>{{/link-to}}
        {{#link-to 'plan.show'}}<button class="btn toggle edit-plan btn-sm btn-default">View</button>{{/link-to}}

      </h4>
    </div>

  <button type="button" data-toggle="modal" href="#snapshot" class="take-snap icon btn btn-default"><span class="glyphicon glyphicon-camera"></span></button>
  <table id="forums" class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Id</th>
      <th>Effective on</th>
    <thead>
    <tbody>
      {{#each concept in controller}}
      <tr>
        <td><a {{bind-attr href=concept.href}} target="_blank">{{concept.title}}</a></td>
        <td>{{concept.id}}</td>
        <td>{{date-format concept.effectiveTime}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>