<section class="rules clearfix">
  {{#if plan.alert}}
    <div class="alert alert-warning alert-dismissable clearfix">
      <span class="message">{{plan.alert.message}}</span>
      {{#if plan.alert.showUndo}}
        <button type="text" {{action "undo"}} data-dismiss="alert" class="btn btn-link undo-action">Undo</button>
      {{/if}}
      <button {{action "dismiss"}} type="text" class="btn btn-link dismiss" data-dismiss="alert" aria-hidden="true">Dismiss</button>
    </div>
  {{/if}}

  {{select-concepts modalid=selectConceptsModalId cache=controller model=editRule}}

  <h4 class="clearfix"><span class="title">Rules</span>
    <div class="plan-actions clearfix">
      {{#link-to 'plan.show'}}<button class="toggle btn edit-plan btn-sm btn-default">View</button>{{/link-to}}
      {{#link-to 'plan.edit'}}<button class="toggle btn edit-plan btn-sm btn-default" disabled="disabled">Edit</button>{{/link-to}}
      {{#link-to 'plan.concepts'}}<button class="last toggle btn btn-sm btn-default">Results</button>{{/link-to}}
    </div>
  </h4>
  {{#each e in globalErrors }}
    <div class="alert alert-danger">
      <span class="error-message">{{e}}</span>
    </div>
  {{/each}}
  <ul class="list-group list-rules">
    {{#each rule in model.rules}}
      <li class="list-group-item rule">
        {{render "editrule" rule}}
      </li>
    {{/each}} 
    <li class="list-group-item rule">
      <button type="button" {{action "addrule"}} class="add-rule icon btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    </li>
  </ul>
  <div class="actions">
    {{#if isValid}}
      <button disabled="disabled" class="btn action validate btn-lg btn-success"><span class="glyphicon glyphicon-ok"></button>
      <button {{action 'save'}} class="btn action btn-lg save btn-success btn-default">Save</button>
    {{else}}
      <button {{action "validate"}} class="btn action validate btn-lg btn-success">Validate</button>
      <button disabled="disabled" class="btn btn-lg action save btn-success btn-default">Save</button>
    {{/if}}
  </div>
</section>