{{partial "modal/import-success"}}

<!-- ********** -->
<!-- * HEADER * -->
<!-- ********** -->
<header>
  <div class="row">
    <div class="small-12 columns">
      <h1>IHTSDO Refset Management Service
        <span class="logo" style="float:right"><img src="img/ihtsdo.logo.png"/></span>
      </h1>
    </div>
  </div>
  <div class="row login">
    <div class="small-12 columns">
      {{#if loggedIn}}
        Logged in as <span class="name">{{user.firstName}} {{user.lastName}}</span>
        <a href="javascript:void(0)" {{action 'logout'}} class="icon"><span class="fa fa-sign-out"></span></a>
      {{/if}}
    </div>
  </div>
</header>

{{outlet}}
{{outlet modal}}
