<section id="new-refset fields"> 
  <div class="row heading">
    <div class="large-12 columns">
      <h2 class="subheader">Create a new refset</h2>
    </div>
  </div>
  <form class="form-group" {{action 'save' on="submit"}}>

    <div class="row">
      <div class="field source small-4 medium-3 columns">
        <label {{bind-attr class="error.fieldErrors.source:error"}}>Source</label>
        {{view 'form-select' contentBinding="selectSource"
                             optionLabelPath="content.label"
                             optionValuePath="content.key"
                             valueBinding="source"
                             classNames="dropdown"
                             disabled="disabled"}}
        {{#each e in error.fieldErrors.source}}
          <span class="error">{{e}}</span>
        {{/each}}
      </div>
      <div class="field type small-4 medium-3 small-pull-4 medium-pull-6 columns">
        <label {{bind-attr class="error.fieldErrors.type:error"}}>Type</label>
        {{view 'form-select' contentBinding="selectType"
                            optionLabelPath="content.label"
                            optionValuePath="content.key"
                            valueBinding="content.type"
                            classNames="dropdown"
                            disabled="disabled"}}
        {{#each e in error.fieldErrors.type}}
          <span class="error">{{e}}</span>
        {{/each}}                            
      </div>
    </div>
    <div class="row">
      <div class="field title small-12 medium-10 large-8 columns">
        <label {{bind-attr class="error.fieldErrors.title:error"}}>Title</label>
        {{input type="text" name="title" value=title placeholder="Please give a title"}}
        {{#each e in error.fieldErrors.title }}
          <span class="error">{{e}}</span>
        {{/each}}
      </div>
    </div>

    <div class="row">
      <div class="field description small-12 medium-10 large-8 columns">
        <label {{bind-attr class="error.fieldErrors.description:error"}}>Description</label>
        {{textarea name="description" value=description placeholder="Please give a description"}}
        {{#each e in error.fieldErrors.description }}
          <span class="error">{{e}}</span>
        {{/each}}
      </div>
    </div>

    <div class="row">
      <div class="field publicid small-12 medium-10 large-8 columns">
        <label {{bind-attr class="error.fieldErrors.publicId:error"}}>Internet address</label>
        {{input type="text" name="publicId" value=publicId placeholder="Please give an internet address"}}
        <label class="preview">http://refset.snomedtool.com/refsets/{{publicId}}</label>
        {{#each e in error.fieldErrors.publicId }}
          <span class="error">{{e}}</span>
        {{/each}}        
      </div>
    </div>
    <div class="row release">
      <div class="small-12 medium-10 large-8 columns">
        <div class="row">
          <div class="field extension small-6 columns">
            <label {{bind-attr class="error.fieldErrors.snomedReleaseDate:error error.fieldErrors.snomedExtension:error"}}>Snomed Extension</label>
            {{view Ember.Select contentBinding="selectExtension"
                                optionLabelPath="content.label"
                                optionValuePath="content.key"
                                valueBinding="snomedExtension"
                                classNames="dropdown"}}
          </div>
          <div class="field date small-6 columns">
            <label {{bind-attr class="error.fieldErrors.snomedReleaseDate:error error.fieldErrors.snomedExtension:error"}}>Snomed Release Date</label>
            {{view Ember.Select contentBinding="selectReleaseDate"
                                optionLabelPath="content.label"
                                optionValuePath="content.key"
                                valueBinding="snomedReleaseDate"
                                classNames="dropdown"}}

          </div>      
        </div>
        {{#each e in error.fieldErrors.snomedReleaseDate}}
        <div class="field">
          <span class="error">{{e}}</span>
        </div>
        {{/each}}
        {{#each e in error.fieldErrors.snomedExtension}}
        <div class="field">
          <span class="error">{{e}}</span>
        </div>
        {{/each}}        
      </div> <!-- columns -->
    </div> <!-- row -->
    <div class="row">
      <div class="field module small-12 medium-10 large-8 columns">
        <label {{bind-attr class="error.fieldErrors.moduleConcept:error"}}>Default Module</label>
        {{select-two action="changeModuleConcept" identifier=moduleSelectId version_flavour=snomedExtension version_date=snomedReleaseDate}}
        {{#each e in error.fieldErrors.moduleConcept}}
          <span class="error">{{e}}</span>
        {{/each}}        
      </div>
    </div>
    <div class="row">
      <div class="field refset-concept small-12 medium-10 large-8 columns">
        <label {{bind-attr class="error.fieldErrors.refsetConcept:error"}}>Snomed Refset Concept</label>
        <!--dl class="tabs" data-tab>
          <dd class="active">
            <a href="#panel-choose">Choose existing</a>
          </dd>
          <dd>
            <a href="#panel-new">Create new</a>
          </dd>
        </dl-->
        <!--div class="tabs-content">
          <div class="content active" id="panel-choose"-->
          {{select-two action="changeRefsetConcept" identifier=refsetConceptSelectId version_flavour=snomedExtension version_date=snomedReleaseDate}}
          <!--/div>
          <div class="content" id="panel-new">
            <p style="color: grey">Coming soon...</p>
          </div-->
          {{#each e in error.fieldErrors.refsetConcept}}
            <span class="error">{{e}}</span>
          {{/each}}
        <!--/div-->
      </div>
    </div>
    <div class="row action main bottom">
      <div class="small-12 columns">
        <button type="submit" class="button radius small">Create Refset</button>
        {{#link-to 'refsets' class="button radius small secondary"}}Cancel{{/link-to}}
      </div>
    </div>
  </form>
</section>