{{#modal-box action="created" modalid="editRuleModal"}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Rule</h4>
  </div>
  <div class="modal-body">

    {{control "editrule"}}
  
    <div class="dropdown">
      <button type="button" data-toggle="dropdown" {{bind-attr class="hasType:has-content :type :btn :btn-default"}}>{{#if hasType}}{{rule-type type}}{{else}}Select Rule Type{{/if}}</button>


      <ul {{bind-attr class=":dropdown-menu hasType:pull-right"}} role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation" class="dropdown-header">Source Rules</li>
        <li role="presentation"><a role="menuitem" {{action "type" "import"}} tabindex="-1" href="#">Import Snapshot</a></li>
        <li role="presentation"><a role="menuitem" {{action "type" "list"}} tabindex="-1" href="#">List of Concept</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Set Operations</li>
        <li role="presentation"><a role="menuitem" {{action "type" "UNION"}} tabindex="-1" href="#">Union</a></li>
        <li role="presentation"><a role="menuitem" {{action "type" "INTERSECTION"}} tabindex="-1" href="#">Intersection</a></li>
        <li role="presentation"><a role="menuitem" {{action "type" "DIFFERENCE"}} tabindex="-1" href="#">Difference</a></li>
        <li role="presentation"><a role="menuitem" {{action "type" "SYMDIFFERENCE"}} tabindex="-1" href="#">Symmetric Difference</a></li>        
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm"  {{action "created" model}} data-dismiss="modal">Create</button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
  </div>  
{{/modal-box}}