{{#if isListOperation}} 
  <div class="list edit btn-group">
    <!-- ID -->
    <div class="btn-group">
      <button type="button" disabled="disabled" class="btn-lg id btn btn-default">{{id}}</button> 
    </div>  
    <div class="btn-group">
      <button type="button" {{action "list"}} class="btn btn-lg btn-default">{{concepts.length}} Concepts</button> 
    </div>

    <!--config -->
    {{#if isEdit}}
    <div class="btn-group">
      <button type="button" {{action "resetType"}} class="edit icon btn btn-lg btn-default"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
    {{/if}}

    <!-- delete -->
    {{#if isEdit}}
    <div class="btn-group">
      <button type="button" {{action "delete"}} class="delete icon btn btn-lg btn-default"><span class="glyphicon glyphicon-fire"></span></button>
    </div>
    {{/if}}

    <!-- terminal -->
    {{#if isTerminal}}
      <div class="btn-group">
        <button type="button" disabled="disabled" class="terminus btn btn-lg btn-default">t</button>
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if isSetOperation}} 
<div class="set edit btn-group">
  
  <!-- ID -->
  <div class="btn-group">
    <button type="button" disabled="disabled" class="id btn-lg btn btn-default">{{id}}</button> 
  </div>  
  <!-- LEFT -->
  <div class="btn-group">
    {{#if left}}
    <button type="button" data-toggle="dropdown" class="btn btn-lg btn-default">{{show-rule leftRule}}</button>
    {{else}}
    <button type="button" data-toggle="dropdown" class="btn btn-lg btn-default">Select Rule</button>
    {{/if}}
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">      
      {{#each rule in plan.rules}}
      <li role="presentation"><a role="menuitem" {{action "left" rule}} tabindex="-1" href="#">{{show-rule rule}}</a></li>
      {{/each}}
    </ul>          
  </div>

  <!-- OPERATION -->
  <div class="btn-group">
    <button type="button" data-toggle="dropdown" class="btn btn-lg btn-default">{{rule-type type}}</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
      <li role="presentation"><a role="menuitem" {{action "type" "UNION"}} tabindex="-1" href="#">Union</a></li>
      <li role="presentation"><a role="menuitem" {{action "type" "INTERSECTION"}} tabindex="-1" href="#">Intersection</a></li>
      <li role="presentation"><a role="menuitem" {{action "type" "DIFFERENCE"}} tabindex="-1" href="#">Difference</a></li>
      <li role="presentation"><a role="menuitem" {{action "type" "SYMDIFFERENCE"}} tabindex="-1" href="#">Symmetric Difference</a></li>        
    </ul>
  </div>

  <!-- RIGHT -->
  <div class="btn-group">
    {{#if right}}
    <button type="button" data-toggle="dropdown" class="btn btn-lg btn-default">{{show-rule rightRule}}</button>
    {{else}}
    <button type="button" data-toggle="dropdown" bind-attr class="btn btn-lg btn-default">Select Rule</button>
    {{/if}}
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">      
      {{#each rule in plan.rules}}
        <li role="presentation"><a role="menuitem" {{action "right" rule}} tabindex="-1" href="#">{{show-rule rule}}</a></li>
      {{/each}}
    </ul>                    
  </div>

  <!-- config -->
  {{#if isEdit}}
  <div class="btn-group">
    <button type="button" {{action "resetType"}} class="edit icon btn btn-lg btn-default"><span class="glyphicon glyphicon-cog"></span></button>
  </div>    
  {{/if}}
  
  <!-- delete -->
  {{#if isEdit}}
  <div class="btn-group">
    <button type="button" {{action "delete"}} class="delete icon btn btn-lg btn-default"><span class="glyphicon glyphicon-fire"></span></button>
  </div>    
  {{/if}}

  <!-- terminal -->
  {{#if isTerminal}}
    <div class="btn-group">
      <button type="button" disabled="disabled" class="terminus btn btn-lg btn-default">t</button>
    </div>
  {{/if}} 

{{/if}}

{{#if emptyType}}
  <div class="btn-group">
    <!-- ID -->
    <div class="btn-group">
      <button type="button" disabled="disabled" class="btn-lg id btn btn-default">{{id}}</button> 
    </div>  
    <div class="dropdown btn-group">
      <button type="button" data-toggle="dropdown" class="btn btn-lg btn-default">Select Rule Type</button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation" class="dropdown-header">Source Rules</li>
        <li role="presentation"><a role="menuitem"  tabindex="-1">Import Concepts (tbd)</a></li>
        <li role="presentation"><a role="menuitem"  tabindex="-1">Simple Query (tbd)</a></li>
        <li role="presentation"><a role="menuitem"  tabindex="-1">Structured Query (tbd)</a></li>
        <li role="presentation"><a role="menuitem" {{action 'type' 'LIST'}} tabindex="-1">List Concepts</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Set Operations</li>
        <li role="presentation"><a role="menuitem" {{action 'type' 'UNION'}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Union</a></li>
        <li role="presentation"><a role="menuitem" {{action 'type' 'INTERSECTION'}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Intersection</a></li>
        <li role="presentation"><a role="menuitem" {{action 'type' 'DIFFERENCE'}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Difference</a></li>
        <li role="presentation"><a role="menuitem" {{action 'type' 'SYMDIFFERENCE'}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Symmetric Difference</a></li>          
      </ul>  
    </div>

    <!-- delete -->
    {{#if isDelete}}
      <div class="btn-group">
        <button type="button" {{action "delete"}} class="delete icon btn btn-lg btn-default"><span class="glyphicon glyphicon-fire"></span></button>
      </div>        
    {{/if}}
  </div>
{{/if}}