<section class="members">
  <!-- HEADING -->
  <header class="row sub">
    <!-- TITLE -->
    <div class="small-6 medium-4 columns">
      <h2 class="subheader"><span>Members</span>
        <a style="margin-left: 0.5em; color: skyblue" data-options="align:right" href="#" data-dropdown="download-dropdown">
          <span data-tooltip data-options="disable_for_touch:false" class="round fa fa-cloud-download"  title="Download Members"></span>          
        </a>
        <ul id="download-dropdown" class="f-dropdown" data-dropdown-content>
          <li><a target="_blank" {{bind-attr href='downloadJsonUrl'}}>JSON</a></li>
          <li><a target="_blank" {{bind-attr href='downloadXmlUrl'}}>XML</a></li>
          <li><a target="_blank" {{bind-attr href='downloadRf2Url'}}>RF2</a></li>
        </ul>
      </h2>
    </div>
    <!-- NAVIGATION -->
    <nav class="small-6 medium-8 columns navigation top">
      <div class="button-bar">
        <ul class="button-group radius">
          <li>{{#link-to 'members'  class="secondary button tiny members disabled"}}Members{{/link-to}}</li>
          <li>{{#link-to 'versions' class="secondary button tiny versions"}}Versions{{/link-to}}</li>
          <li>{{#link-to 'releases' class="secondary button tiny releases"}}Releases{{/link-to}}</li>
          <li>{{#link-to 'details'  class="secondary button tiny details"}}Details{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ********** -->
  <!-- * ALERTS * -->
  <!-- ********** -->
  <section id="alerts">
    <div class="row alert pending">
      <!-- CHANGES PENDING -->
      <div class="small-12 columns">
        <div data-alert id="alert2" class="alert-box success radius">
          <span>There are changes pending</span>
          <div class="actions" style="float: right; font-size: 1.4em; margin-right: -0.75em; margin-top: -0.15em">
            <!-- PENDING CHANGES ICON -->
            <a href="pending.changes.membership.html" class="show-changes icon" style="color:white; margin-right: 0.5em">
              <span data-tooltip data-options="disable_for_touch:false" class="round fa fa-puzzle-piece" title="See Pending Changes"></span>
            </a>
            <!-- CREATE VERSION ICON -->
            <a href="#" class="icon" data-reveal-id="commit-modal" style="color: white">
              <span data-tooltip data-options="disable_for_touch:false" class="fa fa-tags" title="Commit Changes"></span>
            </a>
          </div>
        </div>
      </div>
    </div>


    {{render 'undo-alert' alert}}



  </section>  
  <!-- TABLE FILTER -->
  <div class="row filter">
    <!-- TEXT -->
    <div class="small-6 columns text">      
      <input type="text" placeholder="Filter"></input>
    </div>
    <!-- BOOLEAN -->
    <div class="small-6 columns show">
      {{input type="checkbox" name="showIdentifier" checked=showIdentifier id="show-id"}}<label for="show-id">Identifier</label>
      {{input type="checkbox" name="showEffective" checked=showEffective id="show-effective"}}<label for="show-effective">Effective</label>
      {{input type="checkbox" name="showModule" checked=showModule id="show-module"}}<label for="show-module">Module</label>
    </div>
  </div>

  <!-- TABLE -->
  <div class="row">
    <div class="large-12 columns">
      <table width="100%" cellpadding="0" cellspacing="0" class="responsive">
        <thead>
          <tr>
            {{#if controller.showIdentifier}}
            <th>Identifier
              <a style="margin-left: 0.75em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a style="margin-left: 0.5em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
            </th>
            {{/if}}          
            {{#if controller.showComponent}}
            <th>Component
              <a style="margin-left: 0.75em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a style="margin-left: 0.5em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
            </th>
            {{/if}}
            {{#if controller.showEffective}}
            <th>Effective
              <a style="margin-left: 0.75em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-numeric-asc"></span></a>
              <a style="margin-left: 0.5em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-numeric-desc"></span></a>
            </th>
            {{/if}}
            {{#if controller.showModule}}
            <th>Module
              <a style="margin-left: 0.75em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a style="margin-left: 0.5em; font-size: 0.8em" href="#" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
            </th>
            {{/if}}
            <!--th class="show-changes icon">
              <a href="show-changes.html"><span data-tooltip data-options="disable_for_touch:false" class="round fa fa-puzzle-piece" title="Pending Changes"></span></a>                  
            </th-->
            
            <th></th>
            <th></th>
            <!--th></th-->
            <!--th class="take-snapshot icon"><a href="new.snapshot.html"><span data-tooltip data-options="disable_for_touch:false" class="round fa fa-leaf" title="Create Version"></span></a></th-->
          </tr>
        </thead>
        <tbody>
          {{#each member in model}}
            
              <tr>
                {{#if controller.showIdentifier}}
                <td>
                    {{member.publicId}}
                </td>
                {{/if}}
                {{#if controller.showComponent}}
                <td>
                  <a href="https://browser.snomedtools.com/version/1/concept/285326004" target="_blank">{{member.component.title}}</a>
                </td>
                {{/if}}
                {{#if controller.showEffective}}
                <td>{{date-format member.effective}}</td>
                {{/if}}
                {{#if controller.showModule}}
                <td>
                  <a href="https://browser.snomedtools.com/version/1/concept/285326004" target="_blank">{{member.module.title}}</a>
                </td>
                {{/if}}
                <td class="info">
                  <a href="membership.details.html" class="icon"><span class="fa fa-info-circle"></span></a>
                </td>                
                <!--td class="edit">
                  <a href="edit.membership.html" class="icon"><span class="fa fa-pencil"></span></a>
                </td-->
                <td class="delete">
                  <a href="#" class="icon" {{action 'delete' member}}><span class="fa fa-trash-o"></span></a>
                  <!--a href="#" onclick="$('#alert1').show()" class="icon"><span class="fa fa-trash-o"></span></a-->
                </td>
              </tr>
            
          {{/each}}

        </tbody>
      </table>
    </div> <!-- columns -->
  </div><!-- row -->
  
  <!-- MAIN ACTION -->
  <div class="main action pagination row bottom">
    <!-- ADD ICON -->
    <div class="columns small-1 icon add">
      {{#link-to 'import.search'}}
        <span data-tooltip data-options="disable_for_touch:false" class="fa fa-plus-circle" title="Add Members"></span>
      {{/link-to}}
    </div>
  
    <!-- PAGINATION -->
    <div class="small-10 small-pull-1 columns">
      <div class="pagination-centered">
        <ul class="pagination">
          <li class="arrow unavailable"><a href="">&laquo;</a></li>
          <li class="current"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li class="unavailable"><a href="">&hellip;</a></li>
          <li><a href="">12</a></li>
          <li><a href="">13</a></li>
          <li><a href="">14</a></li>
          <li><a href="">15</a></li>
          <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
      </div>            
    </div>


    <!-- RIGHT ICONS -->
    <!--div class="small-2 columns icons right">
      <a href="show-changes.html" class="show-changes icon">
        <span data-tooltip data-options="disable_for_touch:false" class="round fa fa-puzzle-piece" title="See Pending Changes"></span>
      </a>
      <a href="#" onclick="$('#new-version-id').show();" class="take-snapshot icon">
        <span data-tooltip data-options="disable_for_touch:false" class="round fa fa-tags" title="Create Version"></span>
      </a>
    </div-->
  </div> 

  <!-- NEW VERSION -->

  <!--div class="row new-version" id="new-version-id" style="display:none">
    <div class="small-12 columns">
      <div class="row collapse">
        <div class="small-11 columns">
          <input type="text" placeholder="Give a title for the new version"></input>
        </div>
        <div class="small-1 columns submit icon">
          <a href="refset.snapshots" class="button small postfix">
            <span data-tooltip data-options="disable_for_touch:false" class="fa fa-bolt" title="Create Version"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="small-1 small-push-11 columns cancel">
          <a href="#" onclick="$('#new-version-id').hide()">Cancel</a>
        </div>
      </div>
    </div>
  </div-->
</section>