<!-- ************** -->
<!-- * HEADER NAV * -->
<!-- ************** -->
<header>
  <nav class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li>
          {{#link-to 'refsets'}}Refsets{{/link-to}}
        </li>
        <li class="current">
          <a href="#">{{refsetName}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- COMMIT MODAL -->
<div id="createVersion" class="reveal-modal" data-reveal>
  <section id="new-version fields"> 
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">Create a new version</h2>
      </div>
    </div>
    <form class="form-group" {{action 'createVersion' on="submit"}}>

      <div class="row">
        <div class="field title small-12 medium-10 large-8 columns">
          <label {{bind-attr class="error.fieldErrors.title:error"}}>Title</label>
          {{input type="text" name="title" value=version.title placeholder="Please give a title"}}
          {{#each e in error.fieldErrors.title }}
            <span class="error">{{e}}</span>
          {{/each}}
        </div>
      </div>

      <div class="row">
        <div class="field description small-12 medium-10 large-8 columns">
          <label {{bind-attr class="error.fieldErrors.description:error"}}>Description</label>
          {{textarea name="description" value=version.description placeholder="Please give a description"}}
          {{#each e in error.fieldErrors.description }}
            <span class="error">{{e}}</span>
          {{/each}}
        </div>
      </div>

      <div class="row">
        <div class="field publicid small-12 medium-10 large-8 columns">
          <label {{bind-attr class="error.fieldErrors.publicId:error"}}>Internet address</label>
          {{input type="text" name="publicId" value=version.publicId placeholder="Please give an internet address"}}
          <label class="preview">http://refset.snomedtool.com/refsets/{{refsetName}}/{{version.publicId}}</label>
          {{#each e in error.fieldErrors.publicId }}
            <span class="error">{{e}}</span>
          {{/each}}        
        </div>
      </div>

      <div class="row action main bottom">
        <div class="small-12 columns">
          <button type="submit" class="button radius small">Create Version</button>
          <button {{action 'cancelCommitModal'}} type="submit" class="button radius small secondary">Cancel</button>
        </div>
      </div>    
    </form>
  </section>
</div>


<!-- HEADING -->
<header class="row sub">
  <!-- TITLE -->
  <div class="small-6 medium-4 columns">
    <h2 class="subheader"><span>Members</span>
      <a style="margin-left: 0.5em; color: skyblue" data-options="align:right" href="#" data-dropdown="download-dropdown">
        <span data-tooltip data-options="disable_for_touch:false" class="round fa fa-cloud-download"  title="Download Members"></span>          
      </a>
      <ul id="download-dropdown" class="f-dropdown" data-dropdown-content>
        <li><a target="_blank" {{bind-attr href='downloadJsonUrl'}}>JSON</a></li>
        <li><a target="_blank" {{bind-attr href='downloadXmlUrl'}}>XML</a></li>
        <li><a target="_blank" {{bind-attr href='downloadRf2Url'}}>RF2</a></li>
      </ul>
    </h2>
  </div>
  <!-- NAVIGATION -->
  <nav class="small-6 medium-8 columns navigation top">
    <div class="button-bar">
      <ul class="button-group radius">
        <li>{{#link-to 'members'  class="secondary button tiny members disabled"}}Members{{/link-to}}</li>
        <li>{{#link-to 'versions' class="secondary button tiny versions"}}Versions{{/link-to}}</li>
        <li>
        <a href="javascript:void(0)" class="secondary button tiny releases disabled">Releases (coming)</a>
        <!--
        {{#link-to 'releases' class="secondary button tiny releases disabled"}}Releases (coming){{/link-to}}
        -->
        </li>
        <li>
          <a href="javascript:void(0)" class="secondary button tiny releases disabled">Details (coming)</a>
          <!--{{#link-to 'details'  class="secondary button tiny details disabled"}}Details (coming){{/link-to}}-->
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- ********** -->
<!-- * ALERTS * -->
<!-- ********** -->
<section id="alerts">
  {{#if hasPendingChanges}}
    <div class="row alert pending">
      <!-- CHANGES PENDING -->
      <div class="small-12 columns">
        <div data-alert id="alert2" class="alert-box success radius">
          <span>There are changes pending</span>
          <div class="actions" style="float: right; font-size: 1.4em; margin-right: -0.75em; margin-top: -0.15em">
            <!-- PENDING CHANGES ICON -->
            <a href="pending.changes.membership.html" class="show-changes icon" style="color:lightgrey; margin-right: 0.5em">
              <span data-tooltip data-options="disable_for_touch:false" class="round fa fa-puzzle-piece" title="See Pending Changes"></span>
            </a>
            <!-- CREATE VERSION ICON -->
            <a href="#" class="icon" style="color: white" data-reveal-id="createVersion" data-reveal>
              <span data-tooltip data-options="disable_for_touch:false" class="fa fa-tags" title="Commit Changes"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{render 'undo-alert' alert}}
</section>  

{{members-list showDeleteMember=showDeleteMember members=members sortMembers="sortMembers" deleteMember="delete"}}
  
<!-- MAIN ACTION -->
<div class="main action pagination row bottom">
  <!-- ADD ICON -->
  <div class="columns small-1 icon add">
    {{#link-to 'import.file'}}
      <span data-tooltip data-options="disable_for_touch:false" class="fa fa-plus-circle" title="Add Members"></span>
    {{/link-to}}
  </div>
</div> 