

<!-- ************** -->
<!-- * HEADER NAV * -->
<!-- ************** -->
<header>
  <nav class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li>
          {{#link-to 'refsets'}}Refsets{{/link-to}}
        </li>
        <li>
          {{#link-to 'members' refset}}refset{{/link-to}}
        </li>
        <li class="current">
          <a href="javascript:void(0)">Releases</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="releases">
  <!-- HEADING -->
  <header class="row sub">
    <!-- TITLE -->
    <div class="small-6 medium-4 columns">
      <h2 class="subheader">{{refset.title}}</h2>
    </div>    
    <!-- NAVIGATION -->
    <nav class="small-6 medium-8 columns navigation top">
      <div class="button-bar">
        <ul class="button-group round">
          <li>
            <a href="javascript:void(0)" class="secondary button tiny releases disabled">Rules (coming)</a>
            <!--{{#link-to 'details'  class="secondary button tiny details disabled"}}Details (coming){{/link-to}}-->
          </li>
          <li>{{#link-to 'members'  class="secondary button tiny members"}}Members{{/link-to}}</li>
          <li>{{#link-to 'versions' class="secondary button tiny versions"}}Versions{{/link-to}}</li>
          <li>{{#link-to 'releases' class="secondary button tiny versions disabled"}}Releases{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>

<!-- ********** -->
<!-- * ALERTS * -->
<!-- ********** -->
<section id="alerts">
  {{render 'undo-alert' alert}}
</section>

  <!-- TABLE FILTER -->
  <div class="row filter">
    <!-- TEXT -->
    <div class="small-8 medium-6 columns filter">      
      {{input type="text" name="filter" value=filter placeholder="Filter"}}
    </div>

  </div>
  
<!-- ******* -->
<!--  TABLE  -->
<!-- ******* -->      
  <div class="row">
    <div class="large-12 columns">
      <table width="100%" cellpadding="0" cellspacing="0" class="responsive">
        
        <!-- TABLE HEADER -->
        <thead>
          <th class="title">Title
              <a {{action 'sort' 'title' 'ASC'}} style="margin-left: 0.75em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a {{action 'sort' 'title' 'DESC'}} style="margin-left: 0.5em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
          </th>
          <th>Created on
              <a {{action 'sort' 'creationTime' 'ASC'}} style="margin-left: 0.75em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a {{action 'sort' 'creationTime' 'DESC'}} style="margin-left: 0.5em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>               
          </th>
          <th class="members">Members
              <a {{action 'sort' 'snapshot.size' 'ASC'}} style="margin-left: 0.75em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a {{action 'sort' 'snapshot.size' 'DESC'}} style="margin-left: 0.5em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
          </th>
          <th class="delete"></th>
        </thead>
        
        <!-- TABLE BODY -->
        <tbody>
          {{#each release in releasesPage.tags}}
            <tr>
              <td class="title">
                <div class="tooltip2 arrow">
                  {{#link-to 'release' controllers.refset.model release}}{{release.title}}{{/link-to}}
                  <span class="popup">{{release.description}}</span> 
                </div>
              </td>
              <td class="created">{{date-format release.createdOn}}</td>
              <td class="members">{{release.snapshot.size}}</td>
              <td class="delete">
                <a href="#" class="icon" {{action 'delete' release}}><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pagination">
    <!-- PAGINATION -->
    <div class="small-12 columns">
      <div class="pagination-centered" style="color: lightgrey">
        {{pagination-component resetPagesSwitch=resetPagesSwitch changePage="changePage" displaySetSize=displaySetSize totalMembers=releasesPage.totalSize pageSize=pageSize}}
      </div>            
    </div>
  </div>
</section>