<!-- ************** -->
<!-- * HEADER NAV * -->
<!-- ************** -->
<header>
  <nav class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li>
          {{#link-to 'refsets'}}Refsets{{/link-to}}
        </li>
        <li>
          {{#link-to 'members' refset}}{{refsetName}}{{/link-to}}
        </li>
        <li>
          {{#link-to 'releases' refset}}Releases{{/link-to}}
        </li>
        <li class="current">
          <a href="javascript:void(0)">{{title}}</a>
        </li>        
      </ul>
    </div>
  </nav>
</header>

<section class="version">
  <!-- HEADING -->
  <header class="sub">
    <div class="row">
      <!-- TITLE -->
      <div class="small-8 medium-6 columns">
        <h2 class="subheader"><span>{{title}} <small>({{snapshot.size}} members)</small></span></h2>
      </div>
      <!-- NAVIGATION -->
      <nav class="small-4 medium-6 columns navigation top">
        <div class="button-bar">
          <ul class="button-group round">
            <li>{{#link-to 'version' refset snapshot class="button secondary tiny"}}Associated Version{{/link-to}}</li>
            <li>{{#link-to 'releases' refset class="button secondary tiny"}}Back to Releases{{/link-to}}</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="description small-8 medium-6 columns">
        <p style="color: grey">{{description}}</p>
      </div>
    </div>
  </header>

  <!-- ********** -->
  <!-- * ALERTS * -->
  <!-- ********** -->
  <section id="alerts">
    {{render 'undo-alert' alert}}
  </section>  

  {{members-list sortMembers="sortMembers" showDeleteMember=showDeleteMember members=members}}
</section>