

<!-- ************** -->
<!-- * HEADER NAV * -->
<!-- ************** -->
<header>
  <nav class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li>
          {{#link-to 'refsets'}}Refsets{{/link-to}}
        </li>
        <li>
          {{#link-to 'members'}}{{refsetName}}{{/link-to}}
        </li>        
        <li class="current">
          <a href="javascript:void(0)">Releases</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="releases">
  <!-- HEADING -->
  <header class="row sub">
    <!-- TITLE -->
    <div class="small-6 medium-4 columns">
      <h2 class="subheader">Releases</h2>
    </div>    
    <!-- NAVIGATION -->
    <nav class="small-6 medium-8 columns navigation top">
      <div class="button-bar">
        <ul class="button-group round">
          <li>
            <a href="javascript:void(0)" class="secondary button tiny releases disabled">Refset</a>
            <!--{{#link-to 'details'  class="secondary button tiny details disabled"}}Details (coming){{/link-to}}-->
          </li>        
          <li>{{#link-to 'members'  class="secondary button tiny members"}}Members{{/link-to}}</li>
          <li>{{#link-to 'versions' class="secondary button tiny versions"}}Versions{{/link-to}}</li>
          <li>{{#link-to 'releases' class="secondary button tiny versions disabled"}}Releases{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>

<!-- ********** -->
<!-- * ALERTS * -->
<!-- ********** -->
<section id="alerts">
  {{render 'undo-alert' alert}}
</section>

  <!-- TABLE FILTER -->
  <div class="row filter">
    <!-- TEXT -->
    <div class="small-8 medium-6 columns filter">      
      <input type="text" placeholder="Filter (coming soon)"></input>
    </div>

  </div>
  
<!-- ******* -->
<!--  TABLE  -->
<!-- ******* -->      
  <div class="row">
    <div class="large-12 columns">
      <table width="100%" cellpadding="0" cellspacing="0" class="responsive">
        
        <!-- TABLE HEADER -->
        <thead>
          <th class="title">Title
            <a style="margin-left: 0.75em" href="#" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
            <a style="margin-left: 0.5em" href="#" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
          </th>
          <th>Created on
            <a style="margin-left: 0.75em" href="#" class="icon"><span class="fa fa-sort-numeric-asc"></span></a>
            <a style="margin-left: 0.5em" href="#" class="icon"><span class="fa fa-sort-numeric-desc"></span></a></th>                
          </th>
          <th class="members">Members
            <a style="margin-left: 0.75em" href="#" class="icon"><span class="fa fa-sort-numeric-asc"></span></a>
            <a style="margin-left: 0.5em" href="#" class="icon"><span class="fa fa-sort-numeric-desc"></span></a>
          </th>
          <th class="delete"></th>
        </thead>
        
        <!-- TABLE BODY -->
        <tbody>
          {{#each release in model}}
            <tr>
              <td class="title">
                <div class="tooltip2 arrow">
                  {{#link-to 'release' controllers.refset.model release}}{{release.title}}{{/link-to}}
                  <span class="popup">{{release.description}}</span> 
                </div>
              </td>
              <td class="created">{{date-format release.createdOn}}</td>
              <td class="members">{{release.snapshot.size}}</td>
              <td class="delete">
                <a href="#" class="icon" {{action 'delete' release}}><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <!-- ************ -->
  <!--  PAGINATION  -->
  <!-- ************ -->      
  <div class="row pagination">
    <div class="small-12 columns">
      <div class="pagination-centered" style="color: lightgrey">
        <span>Coming Soon: Multiple pages, and navigation</span>
          <!--li class="arrow unavailable"><a href="">&laquo;</a></li>
          <li class="current"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li class="unavailable"><a href="">&hellip;</a></li>
          <li><a href="">12</a></li>
          <li><a href="">13</a></li>
          <li class="arrow"><a href="">&raquo;</a></li>
        </ul-->
      </div>            
    </div>
  </div>
</section>