<div class="row">
  <div class="col-lg-12">
    <ul class="list-group results">
      {{#each searchResults.concepts}}
        <a {{action 'click' this}} href="#" class="list-group-item result">
          <h4 {{bind-attr class=stylingClass}}>
            <div class="row">
              <div class="col-lg-10">{{title}}</div>
              <div class="col-lg-2 identifier pull-right">{{id}}</div>
            </div>
          </h4>
          <div class="property">
            <label>Effective</label>
            <span class="value">{{effectiveTime}}</span>
          </div>
        </a>
      {{/each}}
    </ul>
  </div>
</div>
