<div {{bind-attr class=":rule fErrors:has-error :btn-group"}}>


  <!-- Id -->
  <span class="btn-group">
    <button type="button" disabled="disabled" {{bind-attr class=":btn-lg :id :btn :btn-default fErrors:error"}}>{{id}}</button>
  </span>


  <!-- List -->
  
  {{#if isListOperation}} 
    <span class="list">
      <!-- Description -->
      <button type="button" disabled="disabled" class="description btn btn-lg btn-default">{{concepts.length}} Concepts</button>
    </span>
  {{/if}}
  

  {{#if isSetOperation}} 
    <span class="set edit btn-group">

      <!-- Left -->
      <div class="dropdown btn-group">
      {{#if left}}
        <button type="button" disabled="disabled" class="description btn btn-lg btn-default">{{show-rule leftRule}}</button>
      {{else}}
        <button type="button" disabled="disabled" class="btn description btn-lg btn-default">Select Rule</button>
      {{/if}}
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">      
        {{#each rule in plan.rules}}
        <li role="presentation"><a role="menuitem" {{action "left" rule}} tabindex="-1" href="#">{{show-rule rule}}</a></li>
        {{/each}}
      </ul>
      </div>

      <!-- Operation -->
      <button type="button" disabled="disabled" class="btn description btn-lg btn-default">{{rule-type type}}</button>
    
      <!-- right -->
      <div class="dropdown btn-group">
        {{#if right}}
          <button type="button" disabled="disabled" class="btn description btn-lg btn-default">{{show-rule rightRule}}</button>
        {{else}}
          <button type="button" disabled="diabled" bind-attr class="btn btn-lg description btn-default">Select Rule</button>
        {{/if}}
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">      
          {{#each rule in plan.rules}}
            <li role="presentation"><a role="menuitem" {{action "right" rule}} tabindex="-1" href="#">{{show-rule rule}}</a></li>
          {{/each}}
        </ul>
      </div>
    </span>
  {{/if}}

  {{#if emptyType}}
    <span class="btn-group empty">
      <!-- type -->    
      <button type="button" disabled="disabled" class="btn btn-lg btn-default">Not configured</button>
    </span>
  {{/if}}

  <span class="btn-group">
    <!-- terminal -->
    {{#if isTerminal}}
      <button type="button" disabled="disabled" class="terminus btn btn-lg btn-default">t</button>
    {{/if}} 
  </span>

  {{#each e in fErrors }}
    <div class="error-message">{{e}}</div>
  {{/each}}

</div>