{{#if hasAlert}}
<div class="row alert delete">
  <!-- DELETE ALERT -->
  <div class="small-12 columns">  
    <div data-alert {{bind-attr class=":alert-box :radius type"}}>
      {{message}} 
      <span class="actions">
        {{#if showUndo}}
          <a href="javascript:void(0)" {{action 'undo'}} class="icon undo" style="padding-right: 0.25em">
            <span data-tooltip data-options="disable_for_touch:false" title="Undo" class="fa fa-undo"></span>
          </a>
        {{/if}}
        <a href="javascript:void(0)" {{action 'resetAlert'}} class="icon close-alert">
          <span data-tooltip data-options="disable_for_touch:false" title="Accept" class="fa fa-check"></span>
        </a>
      </span>
    </div>
  </div>
</div>
{{view 'footer'}}
{{/if}}