<!-- CREATE RELEASE MODAL -->
<div id="createRelease" class="reveal-modal" data-reveal>
  <section id="new-release fields"> 
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">Create a new release</h2>
      </div>
    </div>
    <form class="form-group" {{action 'createRelease' on="submit"}}>

      <div class="row">
        <div class="field title small-12 medium-10 large-8 columns">
          <label {{bind-attr class="error.fieldErrors.title:error"}}>Title</label>
          {{input type="text" name="title" value=release.title placeholder="Please give a title"}}
          {{#each e in error.fieldErrors.title }}
            <span class="error">{{e}}</span>
          {{/each}}
        </div>
      </div>

      <div class="row">
        <div class="field description small-12 medium-10 large-8 columns">
          <label {{bind-attr class="error.fieldErrors.description:error"}}>Description</label>
          {{textarea name="description" value=release.description placeholder="Please give a description"}}
          {{#each e in error.fieldErrors.description }}
            <span class="error">{{e}}</span>
          {{/each}}
        </div>
      </div>

      <div class="row">
        <div class="field publicid small-12 medium-10 large-8 columns">
          <label {{bind-attr class="error.fieldErrors.publicId:error"}}>Internet address</label>
          {{input type="text" name="publicId" value=release.publicId placeholder="Please give an internet address"}}
          <label class="preview">http://refset.snomedtool.com/refsets/{{refsetName}}/{{release.publicId}}</label>
          {{#each e in error.fieldErrors.publicId }}
            <span class="error">{{e}}</span>
          {{/each}}        
        </div>
      </div>

      <div class="row action main bottom">
        <div class="small-12 columns">
          <button type="submit" class="button radius small">Create</button>
          <button {{action 'cancelReleaseModal'}} type="submit" class="button radius small secondary">Cancel</button>
        </div>
      </div>    
    </form>
  </section>
</div>

<!-- ************** -->
<!-- * HEADER NAV * -->
<!-- ************** -->
<header>
  <nav class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li>
          {{#link-to 'refsets'}}Refsets{{/link-to}}
        </li>
        <li>
          {{#link-to 'members' refset}}Members{{/link-to}}
        </li>        
        <li class="current">Versions</li>
      </ul>
    </div>
  </nav>
</header>



<section class="versions">
  <!-- HEADING -->
  <header class="row sub">
    <!-- TITLE -->
    <div class="small-6 medium-4 columns">
      <h2 class="subheader">Versions</h2>
    </div>    
    <!-- NAVIGATION -->
    <nav class="small-6 medium-8 columns navigation top">
      <div class="button-bar">
        <ul class="button-group round">
          <li>
            <a href="javascript:void(0)" class="secondary button tiny releases disabled">Rules (coming)</a>
            <!--{{#link-to 'details'  class="secondary button tiny details disabled"}}Details (coming){{/link-to}}-->
          </li>          
          <li>{{#link-to 'members' class="secondary button tiny members"}}Members{{/link-to}}</li>
          <li>{{#link-to 'versions' class="secondary button tiny versions disabled"}}Versions{{/link-to}}</li>
          <li>{{#link-to 'releases' class="secondary button tiny versions"}}Releases{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>

<!-- ********** -->
<!-- * ALERTS * -->
<!-- ********** -->
<section id="alerts">
  {{render 'undo-alert' alert}}
</section>  

  <!-- TABLE FILTER -->
  <div class="row filter">
    <!-- TEXT -->
    <div class="small-8 medium-6 columns filter">      
      {{input type="text" name="filter" value=filter placeholder="Filter"}}
    </div>

  </div>
  
<!-- ******* -->
<!--  TABLE  -->
<!-- ******* -->      
  <div class="row">
    <div class="large-12 columns">
      <table width="100%" cellpadding="0" cellspacing="0" class="responsive">
        
        <!-- TABLE HEADER -->
        <thead>
          <th class="title">Title
              <a {{action 'sort' 'title' 'ASC'}} style="margin-left: 0.75em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a {{action 'sort' 'title' 'DESC'}} style="margin-left: 0.5em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
          </th>
          <th>Created on
              <a {{action 'sort' 'creationTime' 'ASC'}} style="margin-left: 0.75em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a {{action 'sort' 'creationTime' 'DESC'}} style="margin-left: 0.5em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
          </th>
          <th class="members">Members
              <a {{action 'sort' 'size' 'ASC'}} style="margin-left: 0.75em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-asc"></span></a>
              <a {{action 'sort' 'size' 'DESC'}} style="margin-left: 0.5em; font-size: 0.8em" href="javascript:void(0)" class="icon"><span class="fa fa-sort-alpha-desc"></span></a>
          </th>
          <!--th class="delete action"></th-->
          <th class="publish action"></th>
          <!--th class="discuss action"></th-->
        </thead>
        
        <!-- TABLE BODY -->
        <tbody>
          {{#each version in versionsPage.versions}}
            <tr>
              <td class="title">
                <div class="tooltip2 arrow">
                  {{#link-to 'version' controllers.refset.model version}}{{version.title}}{{/link-to}}
                  <span class="popup">{{version.description}}</span> 
                </div>
              </td>
              <td class="created">{{date-format version.createdOn}}</td>
              <td class="members">{{version.size}}</td>
              <!--td class="discuss action">
                <a href="http://disqus.com/websites/" target="_blank" class="icon"><span data-tooltip data-options="disable_for_touch:false" class="fa fa-comment-o" title="Discuss"></span></a>
              </td-->
              <td class="publish action">
                <a href="javascript:void(0)" {{action 'createReleaseSetVersionPublicId' version}} data-reveal-id="createRelease" data-reveal class="icon"><span data-tooltip data-selector="publish" data-options="disable_for_touch:false" class="radius tip-right fa fa-rocket" title="Publish"></span></a>
                <!--a href="javascript:void(0)" class="icon" data-reveal-id="publish-modal"><span data-tooltip data-options="disable_for_touch:false" class="fa fa-rocket" title="Publish"></span></a-->
              </td>           
              <!--td class="delete action">
                <a href="#" onclick="$('#alert1').show()" class="icon"><span class="fa fa-trash-o"></span></a>
              </td-->
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pagination">
    <!-- PAGINATION -->
    <div class="small-12 columns">
      <div class="pagination-centered" style="color: lightgrey">
        {{pagination-component resetPagesSwitch=resetPagesSwitch changePage="changePage" displaySetSize=displaySetSize totalMembers=versionsPage.totalSize pageSize=pageSize}}
      </div>            
    </div>
  </div>
</section>